body {
    height: 300vh;
  }
  .parent {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    /* SET PARENT TO RELATIVE SO ABSOLUTE CHILD WILL TAKE REFERENCE FROM PARENT */
    position: relative;
  }
  .box {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
  }
  .red {
    background: red;
    position: absolute;
  
    right: 50px;
    bottom: 50px;
  
  }
  .yellow {
    background: yellow;
    /* RELATIVE TAKE REFERENCE FROM ITSELF */
    position: relative;
    left: 100px;
    top: 100px;
  }
  .green {
    background: green;
  }